* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
}

main {
  min-height: 75%;
  display: flex;
  padding: 3em;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #ee2b47;
}

a:hover {
  transition: 0.3s;
  opacity: 0.7;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

header {
  background: #1b262c;
}

header .header-container {
  width: 100%;
  color: #fff;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header-container h1 {
  font-size: 2rem;
  letter-spacing: 0.15em;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container textarea {
  font-weight: bold;
  color: #1b262c;
  font-size: 1.6rem;
  min-height: 21.8rem;
  width: 100%;
  line-height: 1.4;
  border: none;
  outline: none;
  resize: none;
}

.container textarea::placeholder {
  color: #CACACA;
}

.content {
  border: 2px solid #5F6769;
  border-radius: 5px;
  padding: 0.5em 0.5em 0 0.5em;
  position: relative;
  width: 45%;
}

.content .legend {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 60px 0 10px;
  padding: 0 10px;
  position: absolute;
  background-color: white;
  color: #5F6769;
  top: 0;
  transform: translateY(-52%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.result-container {
  padding-bottom: 0.2em;
}

.result-content {
  overflow: auto;
  height: 21.8rem;
  width: 100%;
  border: none;
  outline: none;
}

.result-content p span {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.4;
}

.verify-btn-container {
  display: flex;
  justify-content: center;
  padding: 3em;
}

.verify-btn {
  background-color: #1b262c;
  padding: 1em 5em;
  color: #fff;
  letter-spacing: 0.15em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.verify-btn:hover {
  border: none;
  transition: 0.3s;
  background-color: #ee2b47;
}

.footer {
  background-color: #1b262c;
  display: flex;
  padding: 2em;
  font-size: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.social-midia {
  display: flex;
  list-style: none;
  margin-bottom: 1em;
}

.social-midia li {
  margin: 0 1em;
}

.item-social > a {
  font-size: 20px;
  border: 1px solid #fff;
  width: 38px;
  height: 38px;
  line-height: 36px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.item-social > a:hover {
  opacity: 1;
  background-color: #ee2b47;
  animation-name: stretch;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    font-size: 2.1rem;
  }
  100% {
    transform: scale(1);
    font-size: 2rem;
  }
}

.author {
  letter-spacing: 0.15em;
  color: #fff;
  opacity: 0.9;
}

.author span {
  font-weight: bold;
  letter-spacing: 0.15em;
}

.valid {
  color: #155724;
  background: #d4edda;
  border-color: #c3e6cb;
  padding: 0 1em;
  border-radius: 50px;
}

.invalid {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  padding: 0 1em;
  border-radius: 50px;
}

div::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: #dee2e6;
  border-radius: 50px;
}

div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 50px;
}

div::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

@media (min-width: 2560px) {
  html {
    font-size: 100%;
  }

  .item-social > a {
    font-size: 40px;
    width: 70px;
    height: 70px;
    line-height: 68px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .container {
    flex-direction: column;
  }

  .content {
    margin: 1em;
    width: 90%;
  }

  .container textarea {
    line-height: 1.4;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }

  .content {
    margin: 1em;
    width: 100%;
  }

  .container textarea {
    line-height: 1.4;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 50%;
  }

  .item-social > a {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 28px;
  }
}
